/* selector {
    property: value;
} */

header {
    background-color: #eb5f0ee8;
}

h1 {
    color: rgba(219, 218, 133, 0.966);
    background-color: black;
}

main {
    background-color: rgb(247, 236, 179);
}

footer {
    background-color: #eb5f0ee8;
}

img#burger {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
    font-size: larger;
}

img {
    width: 30%;
}